include README.md
recursive-include octoprint_ExternalPrintHistory/templates *
recursive-include octoprint_ExternalPrintHistory/translations *
recursive-include octoprint_ExternalPrintHistory/static *
