<h2>External Print History Settings</h2>
<div id="ExternalPrintHistory-settings">

    <!-- Barra de navegación con pestañas -->
    <ul class="nav nav-tabs" id="ExternalPrintHistoryTabs">
        <li class="nav-item">
            <a class="nav-link active" href="#databaseSettings" id="databaseSettingsTab" data-toggle="tab">Database</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#printerData" id="printerDataTab" data-toggle="tab">Printer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#electricityCosts" data-toggle="tab">Electricity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#notifications" data-toggle="tab">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#appearance" data-toggle="tab">Appearance</a>
        </li>
    </ul>

    <!-- Contenido de las pestañas -->
    <div class="tab-content">
        <!-- Database Settings -->
        <form class="tab-pane form-horizontal active" id="databaseSettings">
            <h3>Database Settings</h3>
            <div class="control-group">
                <label class="control-label">{{ _('User') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" minlength="1" maxlength="50" id="db_user" required
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.db_user">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Password') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" minlength="1" maxlength="50" id="db_password" required
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.db_password">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Host') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" minlength="1" maxlength="50" id="db_host" required
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.db_host">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Port') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-large" min="1" max="65535" step="1" required
                            oninput="this.value = this.value.slice(0, 5);" id="db_port"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.db_port">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Database') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" minlength="1" maxlength="50" id="db_database" required
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.db_database">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls ">
                    <button type="submit" id="test_connection" class="btn btn-primary">{{ _('Test
                        Connection')}}</button>
                    <i id="spinner_test_connection" class="fa fa-spinner hidden" aria-hidden="true"></i>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <span id="connection_Status" data-bind="text: connection_Status"></span>
                </div>
            </div>
        </form>

        <!-- Printer Data -->
        <form class="tab-pane form-horizontal" id="printerData">
            <h3>Printer data</h3>
            <h5>Before configure and test the database connection.</h5>
            <br>
            <div class="control-group">
                <div class="controls">
                    <button id="data_Printer" class="btn btn-primary">{{ _('Load Printer Data, Unlocked
                        Fields')}}</button>
                    <i id="spinner_printer_data" class="fa fa-spinner hidden" aria-hidden="true"></i>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <span id="printerStatus" data-bind="text: printerStatus"></span>
                </div>

            </div>
            <h4>Operating Cost</h4>

            <div class="control-group">
                <label class="control-label">{{ _('Power consumption') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" readonly step="0.01" min="0" max="9999" value="0.00"
                            oninput="this.value = this.value.slice(0, 7);" id="printer_power_consumption"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_power_consumption">
                        <span class="add-on">kW</span>
                    </div>
                </div>
            </div>

            <br>

            <h4>Printer Cost</h4>

            <div class="control-group">
                <label class="control-label">{{ _('Purchase price') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" readonly step="0.01" min="0" max="99999" value="0.00"
                            oninput="this.value = this.value.slice(0, 8);" id="printer_purchase_price"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_purchase_price">
                        <span class="add-on"><span
                                data-bind="text: settingsViewModel.settings.plugins.ExternalPrintHistory.currency"></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Estimated lifespan') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" readonly step="0.01" min="0" max="99999" value="0.00"
                            oninput="this.value = this.value.slice(0, 9);" id="printer_estimated_lifespan"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_estimated_lifespan">
                        <span class="add-on">h</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Maintenance costs') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" readonly step="0.01" min="0" max="99999" value="0.00"
                            oninput="this.value = this.value.slice(0, 8);" id="printer_maintenance_costs"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_maintenance_costs">
                        <span class="add-on"><span
                                data-bind="text: settingsViewModel.settings.plugins.ExternalPrintHistory.currency"></span>/h</span>
                    </div>
                </div>
            </div>

            <br>

            <h4>Other printer settings</h4>

            <div class="control-group">
                <label class="control-label">{{ _('ID') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" readonly id="printer_id"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_id">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Name') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" readonly minlength="1" maxlength="50" id="printer_name"
                            oninput="this.value = this.value.trim();"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_name">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Model') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" readonly minlength="1" maxlength="50" id="printer_model"
                            oninput="this.value = this.value.trim();"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_model">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Brand') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large" readonly minlength="1" maxlength="50" id="printer_brand"
                            oninput="this.value = this.value.trim();"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.printer_brand">
                    </div>
                </div>
            </div>
        </form>

        <!-- Electricity Costs -->
        <form class="tab-pane form-horizontal" id="electricityCosts">
            <h3>Electricity Costs</h3>
            <div class="control-group">
                <label class="control-label">{{ _('Electricity cost') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" class="input-medium" step="0.00001" min="0.00001" max="99.9999"
                            value="0.00000" oninput=" this.value=this.value.slice(0, 9);" id="electricity_cost"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.electricity_cost" />
                        <span class="add-on"><span
                                data-bind="text: settingsViewModel.settings.plugins.ExternalPrintHistory.currency"></span>/kWh</span>
                    </div>
                </div>
            </div>
        </form>

        <!-- Notifications -->
        <form class="tab-pane" id="notifications">
            <h3>Notification of additional plugins</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="plugin_check_activated"
                    data-bind="checked: settingsViewModel.settings.plugins.ExternalPrintHistory.plugin_check_activated">
                <label class="form-check-label" for="plugin_check_activated">
                    {{ _('Activate Plugin dependency check') }}
                </label>
            </div>
        </form>

        <!-- Appearance -->
        <form class="tab-pane form-horizontal" id="appearance">
            <h3>Appearance</h3>
            <div class="control-group">
                <label class="control-label">{{ _('Currency') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-mini" minlength="1" maxlength="2" id="currency"
                            oninput="this.value = this.value.trim();"
                            data-bind="value: settingsViewModel.settings.plugins.ExternalPrintHistory.currency">
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>