<!-- Modal-Dialogs -->
<span id="modal-dialogs-ExternalPrintHistory" style="display:none">

    <!-- PluginDependencyCheck-Dialog -->
    <div id="dialog-ExternalPrintHistory-missingPlugins" class="modal hide fade">
        <div class="modal-header">
            <h3 class="modal-title">Optional plugins</h3>
        </div>
        <div class="modal-body">
            For the <b>"External Print History plugin"</b> to work properly, the following plugins must be installed and
            enabled.
            <div><br></div>
            <div id="Plugin-Message-check"></div>

        </div>
        <div class="modal-footer">

            <div class="control-group">
                <div class="controls">
                    <span class="" style="text-align:left">
                        <input id="deactivate-PluginCheck" type="checkbox" style="margin-bottom: 10px;"> Disable plugin
                        check
                    </span>
                    <button id="closeMissingPlugins" class="btn btn-confirm" style="text-align:right">Close</button>
                </div>
            </div>
        </div>
    </div>

</span>