<div id="printerhistory">
    <h3>Database Settings</h3>
    <div class="form-group">
        <label class="control-label col-sm-3" for="inputUser">User:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputUser" data-bind="value: settingsViewModel.settings.printerHistory.database.user">
        </div>
</div>
