<h4>Printer History Settings</h4>
<h3>Database Settings</h3>

<form class="form-vertical" id="printerhistory">
    <div class="control-group">
        <label class="control-label">{{ _('User') }}</label>
        <div class="controls">
            <input type="text" data-bind="value: settingsViewModel.settings.plugins.printerHistory.db_user">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Password') }}</label>
        <div class="controls">
            <input type="password" data-bind="value: settingsViewModel.settings.plugins.printerHistory.db_password">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Host') }}</label>
        <div class="controls">
            <input type="text" data-bind="value: settingsViewModel.settings.plugins.printerHistory.db_host">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Port') }}</label>
        <div class="controls">
            <input type="number" data-bind="value: settingsViewModel.settings.plugins.printerHistory.db_port">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Database') }}</label>
        <div class="controls">
            <input type="text" data-bind="value: settingsViewModel.settings.plugins.printerHistory.db_database">
        </div>
    </div>
</form>
